.about{
    // padding: 0px 3px 0px 3px;
  
    @media screen and (min-width: 768px){
       padding: rem(5px) 0;
       margin-top: -20px;
    }

    @media screen and (min-width: 1024px){
      margin-top: -25px;
    }
    
    
    @media screen and (min-width: 1028px){
      margin-top: -100px;
    }
    
  
    &__bio{
      font-weight: $semi-bold;
      line-height: 30px;
      margin-bottom: 30px;
      margin-top: -7px;
  
      @media screen and (min-width: 700px){
        margin-bottom: 50px;
      }
  
    }
  
    &__skills{
      display: flex;
      flex-direction: column;
      padding: 0px 5px 15px 5px;
  
  
      @media screen and (min-width: 700px){
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    &__technologies{
      font-weight: $bold;
      text-transform: uppercase;
      text-align: center;

    }
  
    & ul{
      margin: -11px 0 0 0;
      padding: 0;
      text-align: center;
    }
  
    & li{
      margin-bottom: 15px;
    }
  
  
  }
  