.contact {
    border-top: 1px solid #F6F4F4;
    padding: 0px 5px 0px 5px;
  
    @media screen and (min-width: 768px){
      padding: rem(11px) rem(10px);
    }
  
    &__text-content {
      font-weight: $semi-bold;
      margin-top: -10px;
  
      @media screen and (min-width: 768px){
        margin-top: 7px;
      }
    }
  
    &__form {
      position: relative;
      padding: 18px 0px;
      margin-top: 10px;
    }
  
    &__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #D2D2D2;
      outline: 0;
      font-size: rem(16px);
      padding: 11px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
  
    &__textarea {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #D2D2D2;
      outline: 0;
      font-size: rem(16px);
      padding: 7px 0;
      resize: none;
      background: transparent;
      transition: border-color 0.2s;
  
      @media screen and (min-width: 1052px){
        width: 100%;
      }

      @media screen and (min-width: 1298px){
        width: 743px;
      }
  
    }
  
    &__field::placeholder,
    &__textarea::placeholder {
      color: transparent;
    }
  
    &__field:placeholder-shown~&__label,
    &__textarea:placeholder-shown~&__label {
      font-size: rem(16px);
      cursor: text;
      top: 20px;
    }
  
    &__field:focus~&__label,
    &__textarea:focus~&__label,
    label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: rem(12px);
      color: $dark-gray;
    }
  
    &__field:focus~&__label,
    &__textarea:focus~&__label {
      color: black;
    }
  
    &__field:focus,
    &__textarea:focus {
      // padding-bottom: 6px;
      border-bottom: 1px solid black;
    }
  
    & [type='submit']{
      font-family: $nun;
    }
  
    @media screen and (min-width:1052px){
      &__wrapper{
        display: flex;
        justify-content: space-around;
        // flex-direction: column;
      }

      @media screen and (max-width:1300px) {
        &__wrapper{
          flex-direction: column;
        }
      }
  
      &__text-content{
        margin-right: 80px;
        line-height: 22px;

        & p {
          margin-bottom: 9px;
        }
      }
    }

    &__social-media {
      // text-align: center;
      margin-bottom: 5px;

      & a:nth-child(2){
        margin-left: 11px;
      }
    }
    
    &__hidden{
      display: none;
    }

  }
  