// font
$nun: 'Nunito Sans', sans-serif;

// font weight
$regular: 400;
$medium: 500;
$semi-bold:600;
$bold:700;

// colors
$blue: #007fff;
$blue2: #0874E1;
$dark-gray: #979797;
$medium-gray: #cfcfcf;
$light-gray: #ededed;
$yellow: #ffe300;
