.heading{

    &--about{
        font-size: rem(18px);
        font-weight: $bold;
        text-transform: uppercase;
        margin-top: 8px;
        line-height: 25px;
    }

    &--technologies{
        font-size: rem(18px);
        font-weight: $bold;
        text-transform: uppercase;
        margin-top: -9px;
        line-height: 25px;

        
        @media screen and (min-width: 800px) {
            margin-top: -22px;
        }
    }





}