.heading{

    &--about{
        font-size: rem(18px);
        font-weight: $bold;
        text-transform: uppercase;
        margin-top: 8px;
        line-height: 25px;
    }

    &--technologies{
        font-size: rem(18px);
        font-weight: $bold;
        text-transform: uppercase;
        margin-top: -9px;
        line-height: 25px;

        
        @media screen and (min-width: 800px) {
            margin-top: -22px;
        }
    }

    &--contact{
        font-size: responsive rem(25px) rem(33px);
        font-weight: $bold;
        text-transform: uppercase;
        margin-top: 40px;
    
        @media screen and (min-width: 768px){
          margin-bottom: 0px;
        }
    
    }



}