.container{
    max-width: 315px;
    margin: 0 auto;
    padding: 0 11px;
    overflow: hidden;

    @media screen and (min-width: 400px ){
      max-width: 1236px;
      padding: 0 18px;
    }

    &--contact{
      margin-top: 40px;
    }

}
