.page-section{
  padding-bottom: 20px;


  &--about{
    padding-bottom: 20px;

    @media screen and (min-width: 768px){
      padding-bottom: 30px;
    }

  }

  &--process{
    padding-bottom: 20px;

    @media screen and (min-width: 768px){
      padding-bottom: 90px;
    }

  }





}
