.page-section{
  padding-bottom: 20px;


  &--about{
    padding-bottom: 20px;

    @media screen and (min-width: 768px){
      padding-bottom: 40px;
    }

    @media screen and (min-width: 1921px){
      padding-bottom: 50px;
    }

  }

  &--process{
    padding-bottom: 20px;

    @media screen and (min-width: 768px){
      padding-bottom: 40px;
    }

    @media screen and (min-width: 1921px){
      padding-bottom: 90px;
    }


  }





}
